html {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #8D1919 0%, #FF6600 50%, #FF0000 61%, #CC3300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,blue), color-stop(50%,teal), color-stop(61%,turquoise), color-stop(100%,purple)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  blue 0%,#9966FF 50%,pink 61%,magenta 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  maroon 0%,maroon 50%, coral 61%,pink 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8D1919 0%,#9966FF 50%,#FF0000 61%,#CC3300 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8D1919 0%,#FF6600 50%,#FF0000 61%,#CC3300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr coral, endColorstr= red,GradientType=0 ); /* IE6-9 */
    min-height: 100%;
}